{% extends 'dashboard/__base__.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                           Assets
                        </h1>
                    </div>
                </div12>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container ">
        <!-- <hr class="mt-0 mb-4" /> -->
        <!-- <div class="row mb-12"> -->
                <!-- Account details card-->
                <div class=" card mb-12">
                    <div class="row ">
                        <div class="col-md-8">
                            <div class="card-header">Update Asset Data</div>
                        </div> 
                        <div class="col-md-4">
                            {% if messages %}
                            {% for msg in messages %}
                            <div class="card-header text-end text-success">
                              {{ msg }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-body">
                         <form method="post"  enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <!-- Form Group (username)-->
                            <div class="form-group">
                                <label class="small mb-1" for="inputUsername">Asset Name</label>
                                <input class="form-control" id="inputUsername" type="text" placeholder="Enter Asset Name" name = 'name'  value = '{{form.name.value}}' required/>
                            </div>

                            <!-- Form Row-->
                            <div class="form-row">
                                <!-- Form Group (first name)-->
                                <div class="form-group col-md-6">
                                    <label class="small mb-1" for="inputFirstName">Current Market Price</label>
                                    <input class="form-control" id="inputFirstName" type="number" placeholder="Current Market Price" name= 'current_market_price' value="{{form.current_market_price.value}}"  required />
                                </div>
                                <!-- Form Group (last name)-->
                                <div class="form-group col-md-6">
                                    <label class="small mb-1" for="inputLastName">Yesterday Price</label>
                                    <input class="form-control" id="inputLastName" type="Number" placeholder="Yesterday Price" name="yesterday_price" value ='{{form.yesterday_price.value}}'required />
                                </div>
                            </div>
                            <!-- Form Row        -->
                            <div class="form-row">
                                <!-- Form Group (organization name)-->
                                <div class="form-group col-md-6">
                                    <label class="small mb-1" for="inputOrgName">Returns</label>
                                    <input class="form-control" id="inputOrgName" type="number" placeholder="Return" name= 'returns' value ='{{form.returns.value}}' required/>
                                </div>
                                <!-- Form Group (location)-->
                                <div class="form-group col-md-6">
                                    <label class="small mb-1" for="inputLocation">increament/decreament</label>
                                    <input class="form-control" id="inputLocation" type="number" placeholder="increament decreament" name="increament_decreament" value ='{{form.increament_decreament.value}}' required  />
                                </div>
                            </div>
                            <!-- Form Group (email address)-->
                            
                            <!-- Form Row-->
                        </br>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                <label class="small mb-1" for="inputFirstName">Icon</label>
                                 <div >
                                     {{form.icon}}
                                 </div>

                             </div>
                                <div class="form-group col-md-6">
                                {{form.active}} Active
                                 <!-- <label class="custom-control-label" for="checkProductNew">Active </label> -->
                                
                                </div>
                            </div>
                        </br>
                            <!-- Save changes button-->
                            <button class="btn btn-primary" type="submit">Update</button>
                        </form>
                    </div>
                </div>    
        <!-- </div> -->
    </div>
</main>

{% endblock content %}